body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.login-container {
    display: flex;
    height: 100%;
}

.image-container {
    flex: 1;
    background: url('login.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 20px;
    box-sizing: border-box;
}

#logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
    font-size: 16px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: black;
    color: #ddd;
    border: 1px solid #ddd; /* Add border for better visibility */
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #DD225D;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: yellow;
}

.remember-me {
    margin: 10px 0;
}

.remember-me label {
    color: #ddd;
}

#forgot-password,
#forgot-password-small {
    color: #DD225D;
    text-decoration: none;
    margin-left: 5px;
    font-size: 12px;
}
