@font-face {
  font-family: IrishGrover-Regular;
  src: url(Irish_Grover/IrishGrover-Regular.ttf);
}

body {
  font-family: IrishGrover-Regular;
  color: #ffee32;
  margin: 0;
  padding: 0;
  height: auto;
  background: black;
}

.container {
  width: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 100px;
  flex-shrink: 0;
  display: flex;
  margin-top: 33px;
  margin-left: 38px;
}

h2 {
  color: #ffee32;
  text-align: center;
  font-family: IrishGrover-Regular;
  font-size: 2.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 408px;
  height: 63px;
  flex-shrink: 0;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  margin-top: 50px;
  width: 80%;
  border: 1px solid #ffee32;
  border-radius: 10px;
  font-size: 1.7rem;
  margin-bottom: 3rem;
}

table td {
  color: white;
  padding: 1rem;
  text-align: center;
}

table input[type='checkbox'] {
  width: 35px;
  height: 30px;
  flex-shrink: 0;
  fill: #ffee32;
  margin-right: 20px;
}

.container button {
  display: flex;
  margin: 0 auto;
  width: 420px;
  height: 47px;
  padding: 13px 10px 12px 10px;
  background: #ffee32;
  color: black;
  font-family: IrishGrover-Regular;
  font-size: 18px;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  display: flex;
  margin: 20px auto;
  text-decoration: none;
  width: 100px;
  height: 20px;
  padding: 13px 10px 12px 10px;
  background: #ffee32;
  color: black;
  font-family: IrishGrover-Regular;
  font-size: 18px;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  align-items: center;
  text-align: center;
}
