@font-face {
    font-family: IrishGrover-Regular;
    src: url(Irish_Grover/IrishGrover-Regular.ttf);
}

body {
    font-family: IrishGrover-Regular;
    color: #FFEE32;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* .image {
    flex: 1;
    display: flex;
    width: 814px;
    height: 1024px;
} */

.login-container {
    flex: 1;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* max-width: 626px; */
    height: 100%;
    background: black;
}
.image-container {
    display: flex;
    width: 900px;
    /* height: 1024px; */
    /* width: 20vw; */
    height: 100vh;
}
.image-container img {
    /* flex: 1;
    background: url('login.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; */
    /* max-width: 100%; */
    height: auto;
    width: 900px;
    /* object-fit: cover; */

}

/*.login-container, .signup-container {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    background-color: black;
    
}*/

.login-form {
    /* width: 90vw; */
    height: 90vh;
    width: 600px;
    /* height: 600px;
    left: 906px; */
    /* gap: 24px;  */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    /* padding: 0px; */
    box-sizing: border-box;
}

#logo {
    width: 303px;
height: 146px;
/* left: 987px; */
margin-bottom: 20px;
margin-top: 50px;
}

.login-form h2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #FFEE32;
    font-family: IrishGrover-Regular;
}

.login-form span {
    display: block;
    margin-bottom: 15px;
    color: #FFEE32;
    font-size: 28px;
    font-family: IrishGrover-Regular;
}

/*.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}*/

.login-form input[type="text"], input[type="password"] {
    width: 420px;
    height: 43px;
    padding: 13px, 10px, 13px, 10px;
    margin-bottom: 15;
    box-sizing: border-box;
    background-color: black;
    color: #FFEE32;
    border: 1px solid #ddd;
gap: 13px;
max-width: 100%;
font-family: IrishGrover-Regular;
}



/*.login-form button {
    width: 100%;
    padding: 10px;
    background: #DD225D;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/

.login-form button[type="submit"] {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    background: #FFEE32;
    color: black;
    cursor: pointer;
    font-family: IrishGrover-Regular;
}

.login-form button[type="submit"]:hover{
    background: lightyellow;
}

.login-form #remember-me {
    margin: 5px 0;
    font-size: 12px;
    text-decoration: none;
    color: white;
}

.login-form #remember-me input[type="checkbox"] {
    margin-right: 5px;
    size: 12px;
}

.login-form #remember-me label {
    color: #FFEE32;
    font-size: 12px;
    font-family: IrishGrover-Regular;
}

.login-form #forgot-password{
    color: #FFEE32;
    text-decoration: none;
    margin-left: 5px;
    font-size: 12px;
    font-family: IrishGrover-Regular;
    float: right;
}
#signup-container span {
    color: #FFEE32;
    text-decoration: none;
    font-size: 12px;
    font-family: IrishGrover-Regular;
}

#signup-container a {
    color: #FFEE32;
    text-decoration: none;
    font-size: 12px;
    margin-top: 922px;
    /* margin-left: 1006px; */
    gap: 10px;
    font-family: IrishGrover-Regular;
}