@font-face {
    font-family: IrishGrover-Regular;
    src: url(Irish_Grover/IrishGrover-Regular.ttf);
}

body {
    font-family: IrishGrover-Regular;
    color: #FFEE32;
    margin: 0;
    padding: 0; 
    height: auto;
    background: black;
}

.message-container {
    width: auto;
    height: 1024px;
}

#logo {
    width: 313px;
    height: 146px;
    flex-shrink: 0;
    display: flex;
    margin-top: 33px;
    margin-left: 38px;
}

h2{
    color: #FFEE32;
    text-align: center;
    font-family: IrishGrover-Regular;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 308px;
    height: 63px;
    flex-shrink: 0;
}

.isi-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 90px;
    font-family: IrishGrover-Regular;
}

.isi-message span {
    width: 1222px;
    height: 68px;
    padding: 13px 10px 12px 10px;
    gap: 13px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFEE32;
    color: black;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}
