@font-face {
  font-family: IrishGrover-Regular;
  src: url(Irish_Grover/IrishGrover-Regular.ttf);
}

body {
  font-family: IrishGrover-Regular;
  color: #ffee32;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;
}
.signup-container {
  background: #000;
  width: 626px;
  max-height: 100vh;
}
.image-container {
  width: 814px;
  height: auto;
}
.image-container img {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
#logo {
  width: 10rem;
  margin-bottom: 10px;
  margin-top: 50px;
}
.signup-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: black;
}

.signup-form h2 {
  color: #ffee32;
  text-align: center;
  font-family: IrishGrover-Regular;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin-top: 15px; */
  margin-bottom: 15px;
}

.signup-form span {
  /* display: block; */
  margin-bottom: 15px;
  color: #ffee32;
  font-size: 1rem;
  font-family: IrishGrover-Regular;
  margin-top: 12px;
  margin-bottom: 12px;
  font-style: normal;
  line-height: normal;
  text-align: left;
}

.signup-form input[type='text'],
input[type='password'],
input[type='email'] {
  width: 320px;
  height: 1.5rem;
  padding: 13px, 10px, 13px, 10px;
  box-sizing: border-box;
  background-color: black;
  color: #ffee32;
  border: 1px solid #ffee32;
  max-width: 100%;
  font-family: IrishGrover-Regular;
}

.signup-form input[type='submit'] {
  background-color: #ffee32;
  color: black;
  cursor: pointer;
  font-family: IrishGrover-Regular;
  font-size: 18px;
  width: 320px;
  height: 2.5rem;
  padding: 13px, 10px, 13px, 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

#have-account {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  color: white;
}

a {
  color: #ffee32;
}
